# Example environment variables for the Admin app
# Copy to .env.development or .env.production and fill with real values.
VITE_BASE_URL=http://localhost:8000

VITE_API_VERSION=v1
VITE_APP_KEY=CHANGEME
VITE_RECAPTCHA_SITE_KEY=CHANGEME